@media (min-width: 1140px) 
{
section
{
    padding: 40px 200px;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    & .ContactContainer{
        border: 1px solid var(--num1-color);
        border-radius: 20px;
        margin-top: 80px;
        background-color : white;
        box-shadow: -5px 5px 3px var(--num5-color);
        width: 80%;
        min-height: 50vh;
        flex-direction: column;
        z-index: 2;
        & h1{
            font-size: 2.5em;
            font-weight: 800;
            color: var(--num4-color);
            margin: 10px auto;
            text-shadow: -1px 1px 3px var(--num5-color);
        }
        & p{
            letter-spacing: 1px;
            margin:10px auto;
            font-size: 1.0em;
            text-align: center;
        }
        & form {
            
            width: 80%;
            padding: 10px;
            margin: 10px;
            flex-direction: column;
            & .ContactUs {
                width: 80%;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                        & .in-email
                                {   
                                    border: 1px solid var(--num5-color);
                                    border-radius: 5px;
                                    background-color: var(--num1-color);
                                    height: 30px; 
                                    width:100%
                                } 
                        & .in-email:hover
                                {
                                background-color: white;
                                }
                        & .in-name
                                {   
                                    border: 1px solid var(--num5-color);
                                    border-radius: 5px;
                                    background-color: var(--num1-color);
                                    height: 30px; 
                                    width: 100%;
                                } 
                                & .in-name:hover
                                {
                                    background-color: white;
                                }

                                & textarea
                                    {
                                        background-color: var(--num1-color);
                                        border: 1px solid var(--num5-color);
                                        width:100%
                                    }
                
                                    & textarea:hover
                                    {
                                        background-color: white;
                                    }
                    }
                }
            }
        }

.Info 
{
    border: 1px solid rgb(71, 62, 62);
    width: 90%;
    border-radius: 20px 20PX 0PX 0PX;
    height: 300px;
    margin: -100px auto 0px auto;
    background-color: var(--num3-color);
    z-index: 1;
    display: flex;
    & .InfoContent{
        width: 100%;
        margin-top: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        & .InfoContentCalling,
        & .InfoContentLocation
            {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            & .Calling,
            & .Location
                {
                width: 60px;
                height: 60px;
                background-color:var(--num4-color);
                color: white;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;  
                }
            & p
                {
                font-size: 0,5em;
                font-weight: 800;
                color: white;    
                }
            & .p-fir
                {
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            & .p-sec
                {
                    font-size: 0,2em;
                    font-weight: 300;
                }
            & .p-las
                {
                    margin-bottom: 20px;
                    font-size: 0,2em;
                    font-weight: 300;
                    
                }
            }
    }   
}
}


@media (min-width: 481px) and (max-width: 1139px) 
{
    section
    {
        padding: 5px;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        & .ContactContainer{
            border: 1px solid var(--num1-color);
            border-radius: 10px;
            margin-top: 80px;
            background-color : white;
            box-shadow: -5px 5px 3px var(--num5-color);
            width: 95%;
            min-height: 50vh;
            flex-direction: column;
            z-index: 2;
            & h1{
                font-size: 1.2em;
                font-weight: 400;
                color: var(--num4-color);
                margin: 10px auto;
                text-shadow: -1px 1px 3px var(--num5-color);
            }
            & p{
                letter-spacing: 1px;
                margin:5px auto;
                font-size: 0.8em;
                text-align: center;
            }
            & form {
                
                width: 95%;
                padding: 5px;
                margin: 5px;
                flex-direction: column;
                & .ContactUs {
                    width: 95%;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                            & .in-email
                                    {   
                                        border: 1px solid var(--num5-color);
                                        border-radius: 5px;
                                        background-color: var(--num1-color);
                                        height: 30px; 
                                        width:100%
                                    } 
                            & .in-email:hover
                                    {
                                    background-color: white;
                                    }
                            & .in-name
                                    {   
                                        border: 1px solid var(--num5-color);
                                        border-radius: 5px;
                                        background-color: var(--num1-color);
                                        height: 30px; 
                                        width: 100%;
                                    } 
                                    & .in-name:hover
                                    {
                                        background-color: white;
                                    }
    
                                    & textarea
                                        {
                                            background-color: var(--num1-color);
                                            border: 1px solid var(--num5-color);
                                            width:100%
                                        }
                    
                                        & textarea:hover
                                        {
                                            background-color: white;
                                        }
                        }
                    }
                }
            }
    
    .Info 
    {
        border: 1px solid rgb(71, 62, 62);
        width: 90%;
        border-radius: 20px 20PX 0PX 0PX;
        height: 300px;
        margin: -100px auto 0px auto;
        background-color: var(--num3-color);
        z-index: 1;
        display: flex;
        & .InfoContent{
            width: 100%;
            margin-top: 120px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            & .InfoContentCalling,
            & .InfoContentLocation
                {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                & .Calling,
                & .Location
                    {
                    width: 60px;
                    height: 60px;
                    background-color:var(--num4-color);
                    color: white;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;  
                    }
                & p
                    {
                    font-size: 0.8em;
                    font-weight: 400;
                    color: white;    
                    }
                & .p-fir
                    {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                & .p-sec
                    {
                        font-size: 0.8em;
                        font-weight: 300;
                    }
                & .p-las
                    {
                        margin-bottom: 20px;
                        font-size: 0.8em;
                        font-weight: 300;
                        
                    }
                }
        }   
    }
}

@media (max-width: 480px)
{
    section
    {
        padding: 5px;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        & .ContactContainer{
            border: 1px solid var(--num1-color);
            border-radius: 10px;
            margin-top: 80px;
            background-color : white;
            box-shadow: -5px 5px 3px var(--num5-color);
            width: 95%;
            min-height: 50vh;
            flex-direction: column;
            z-index: 2;
            & h1{
                font-size: 1.2em;
                font-weight: 400;
                color: var(--num4-color);
                margin: 10px auto;
                text-shadow: -1px 1px 3px var(--num5-color);
            }
            & p{
                letter-spacing: 1px;
                margin:5px;
                font-size: 0.8em;
                text-align: center;
            }
            & form {
                
                width: 95%;
                padding: 5px;
                margin: 5px;
                flex-direction: column;
                & .ContactUs {
                    width: 95%;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    & label
                    {
                        font-size: 0.8em;
                    }       

                            & .in-email
                                    {   
                                        border: 1px solid var(--num5-color);
                                        border-radius: 5px;
                                        background-color: var(--num1-color);
                                        height: 30px; 
                                        width:100%
                                    } 
                            & .in-email:hover
                                    {
                                    background-color: white;
                                    }
                            & .in-name
                                    {   
                                        border: 1px solid var(--num5-color);
                                        border-radius: 5px;
                                        background-color: var(--num1-color);
                                        height: 30px; 
                                        width: 100%;
                                    } 
                                    & .in-name:hover
                                    {
                                        background-color: white;
                                    }
    
                                    & textarea
                                        {
                                            background-color: var(--num1-color);
                                            border: 1px solid var(--num5-color);
                                            width:100%
                                        }
                    
                                        & textarea:hover
                                        {
                                            background-color: white;
                                        }
                        }
                    }
                }
            }
    
    .Info 
    {
        border: 1px solid rgb(71, 62, 62);
        width: 90%;
        border-radius: 20px 20PX 0PX 0PX;
        height: 300px;
        margin: -100px auto 0px auto;
        background-color: var(--num3-color);
        z-index: 1;
        display: flex;
        & .InfoContent{
            width: 100%;
            margin-top: 120px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            & .InfoContentCalling,
            & .InfoContentLocation
                {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                & .Calling,
                & .Location
                    {
                    width: 60px;
                    height: 60px;
                    background-color:var(--num4-color);
                    color: white;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;  
                    }
                & p
                    {
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: white;
                      
                    }
                & .p-fir
                    {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                & .p-sec
                    {
                        font-size: 0.8em;
                        font-weight: 300;
                    }
                & .p-las
                    {
                        margin-bottom: 20px;
                        font-size: 0.8em;
                        font-weight: 300;
                        
                    }
                }
        }   
    }
}