section {
    margin: 100px 0px;
    padding: 50px 200px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

 

    & h2 {
        margin: 20px 0px;
        font-size: 2.8em;
        font-weight: 900;
        color: var(--num4-color);
        text-shadow: -1px 1px 3px var(--num5-color);
        text-align: center;
    }

    & h3 {
        margin: 20px 0px;
        font-size: 1.8em;
        font-weight: 600;
        color: var(--num4-color);
        text-shadow: -1px 1px 3px var(--num5-color);
        text-align: center;
    }
    & .Project {
        width: 90%;
        border: 1px solid var(--num1-color);
        box-shadow: -5px 5px 3px var(--num5-color);
        border-radius: 20px;
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        & .cont
        {
            border: 1px solid var(--num1-color);
            border-radius: 10px;
            margin: 15px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .Image {
                /* border: 1px solid var(--num5-color); */
                border-radius: 20px;
                height: 200px;
                width: 80%;
                margin: 20px 0px;
                display: flex;
                flex-direction: row;
             
    
                & .img 
                 {
                    margin: 15px;
                    border-radius: 20px;
                    width: 50%;
                    /* background-color: var(--num4-color); */
                    transition: 0.7s ease;
                    
    
                    & img
                    {
                        width: 100%;
                        height: 100%;
                    }
                }
    
                & .img:hover
                {
                    transform: scale(2.05);
                    background-color: white;
                    color: var(--num4-color);
                }
        }

       
        }

        & article {
            border: 1px solid var(--num1-color);
            border-radius: 10px;
            margin: 15px;
            padding: 20px;
            display: flex;
            flex-direction: row;
            width: 80%;
            height: 350px;
            font-size: 1.2;
            font-weight: 400;
            background-color: var(--num7-color);
        }

        & a
        {
            color: var(--num3-color);
            font-size: 1.4em;
            transition: 0.7s ease;
        }

        & a:hover
        {
            transform: scale(1.1);
            color: var(--num2-color);
            cursor: pointer;
        }

    }
}


