
@media (min-width: 1140px) 
{
    section {
        margin: 100px 0px;
        padding: 10px 10px;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        /* border: 1px solid red; */
    
        & h2 {
            margin: 20px 0px;
            font-size: 2.8em;
            font-weight: 900;
            color: var(--num4-color);
            text-shadow: -1px 1px 3px var(--num5-color);
            text-align: center;
        }
    
        & .main-info,
          .Form_Track_Cer {
            padding: 5px;
            border: 2px solid var(--num1-color);
            border-radius: 5px;
            box-shadow: -5px 5px 3px var(--num5-color);
            width: 60%;
            margin: 10px;
            flex-direction: column;
            background-color: white;
            
            /* border: 1px solid green; */
    
    
    
            & .cont ,
            & .Track_Cer
            
            {
                border: 1px solid var(--num1-color);
                border-radius: 10px;
                margin: 5px 0px;
                padding: 5px;
                flex-direction: column;
                align-items: flex-start;
                /* border: 1px solid red; */
                width: 90%;
    
                & label {
                    display: inline-block;
                    width: 40em;
    
                    span {
                        color: red;
                    }
                }

                & input
                {
                    width: 40em;
                    display: block;
                    /* border: 1px solid red; */
                    justify-content:left;
                }
    
                & .divcer
                {
                    border: 1px solid var(--num1-color);
                    border-radius: 10px;
                    margin: 10px 0px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    
                }
            }
    
    
            & .url
            { 
                display: flex;
                flex-direction: column;
                padding: 20px;
                width: 40em;
            }
    
            & .cont_button
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
    
            & h2 {
                margin-bottom: 20px;
                margin-top: 20px;
                font-size: 2.8em;
                font-weight: 900;
                color: var(--num4-color);
                text-shadow: -1px 1px 3px var(--num5-color);
                text-align: center;
            }
    
    
            & .add_track,
            & .add-cer
            {
                background-color: var(--num4-color);
                color: var(--num0-color);
                width: 150px;
                padding: 5px;
                border-radius: 22px;
                border: var(--num4-color);
                transition: 0.7s ease;
                font-weight: 400;
                text-align: center;
                cursor: pointer;
            }
    
            & .add_track:hover ,
            & .add-cer:hover
            {
                transform: scale(1.1);
                background-color: var(--num1-color);
                color: var(--num4-color);
                font-weight: 600;
                cursor: pointer;
                box-shadow: 5px 5px 10px var(--num5-color);
            }
    
            & .modify
            {
                border: 1px solid var(--num1-color);
                border-radius: 10px;
                margin: 15px;
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
    
                & .cer_sec_res,
                & .cer_sec_save,
                & .cer_sec_mod
                {
                    background-color: var(--num4-color);
                    color: var(--num1-color);
                    width: 30px;
                    padding: 5px;
                    margin: 5px;
                    border: var(--num4-color);
                    border-radius: 50%;
                    transition: 0.7s ease;
                    font-weight: 400;
                    text-align: center;
                }
                & .cer_sec_res:hover,
                & .cer_sec_save:hover,
                & .cer_sec_mod:hover
                {
                    transform: scale(1.1);
                    background-color: var(--num1-color);
                    color: var(--num4-color);
                    font-weight: 600;
                    cursor: pointer;
                    box-shadow: 5px 5px 10px var(--num5-color);
                }
            }
        }
    }
    
}

@media (min-width: 481px) and (max-width: 1139px)
{
    section {
        margin: 10px 0px;
        padding: 10px;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
    
        & h2 {
            margin: 10px 0px;
            padding: 10px;
            font-size: 1.8em;
            font-weight: 700;
            color: var(--num4-color);
            text-shadow: -1px 1px 3px var(--num5-color);
            text-align: center;
        }

        & p
        {
            margin: 10px;
            padding: 5px;
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--num4-color);
            text-align: center;
        }
    
        & .main-info,
          .Form_Track_Cer {
            border: 2px solid var(--num1-color);
            border-radius: 5px;
            box-shadow: -2px 2px 3px var(--num5-color);
            width: 100%;
            flex-direction: column;
            padding: 2%;
            margin: 10px;
            background-color: white;

            & .cont ,
            & .Track_Cer    
            {
                width: 100%;
                /* border: 1px solid green; */
                border-radius: 5px;
                margin: 5px 0px;
                padding-left: 5px;
                flex-direction: column;
                align-items:flex-start;
    
                & label {
                    display: block;
                    /* width: 25em; */
                    font-size: 1.0em;
                    /* border: 1px solid red; */
                    justify-content:left;
    
                    span {
                        color: red;
                    }
                }

                & input
                {
                    width: 25em;
                    display: block;
                    /* border: 1px solid red; */
                    justify-content:left;
                }
    
                & .divcer
                {
                    border: 1px solid var(--num1-color);
                    border-radius: 10px;
                    margin: 10px 0px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    
                }
            }
    
    
            & .url
            { 
                display: flex;
                flex-direction: column;
                padding: 20px;
            }
    
            & .cont_button
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
    
            & h2 {
                margin: 10px 0px;
                font-size: 1.5em;
                font-weight: 400;
                color: var(--num4-color);
                text-shadow: -1px 1px 3px var(--num5-color);
                text-align: center;
                /* border: 1px solid red; */
            }

            & .add_track,
            & .add-cer
            {
                background-color: var(--num4-color);
                color: var(--num0-color);
                width: 150px;
                padding: 5px;
                border-radius: 22px;
                border: var(--num4-color);
                transition: 0.7s ease;
                font-weight: 400;
                text-align: center;
                cursor: pointer;
            }
    
            & .add_track:hover ,
            & .add-cer:hover
            {
                transform: scale(1.1);
                background-color: var(--num1-color);
                color: var(--num4-color);
                font-weight: 600;
                cursor: pointer;
                box-shadow: 5px 5px 10px var(--num5-color);
            }
    
            & .modify
            {
                border: 1px solid var(--num1-color);
                border-radius: 10px;
                margin: 15px;
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
    
                & .cer_sec_res,
                & .cer_sec_save,
                & .cer_sec_mod
                {
                    background-color: var(--num4-color);
                    color: var(--num1-color);
                    width: 30px;
                    padding: 5px;
                    margin: 5px;
                    border: var(--num4-color);
                    border-radius: 50%;
                    transition: 0.7s ease;
                    font-weight: 400;
                    text-align: center;
                }
                & .cer_sec_res:hover,
                & .cer_sec_save:hover,
                & .cer_sec_mod:hover
                {
                    transform: scale(1.1);
                    background-color: var(--num1-color);
                    color: var(--num4-color);
                    font-weight: 600;
                    cursor: pointer;
                    box-shadow: 5px 5px 10px var(--num5-color);
                }
            }
        }
    }
    
}

@media (max-width: 480px)
{
    section {
        margin: 10px 0px;
        padding: 10px;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
    
        & h2 {
            margin: 10px 0px;
            padding: 10px;
            font-size: 1.8em;
            font-weight: 700;
            color: var(--num4-color);
            text-shadow: -1px 1px 3px var(--num5-color);
            text-align: center;
        }

        & p
        {
            margin: 10px;
            padding: 5px;
            font-size: 0.9rem;
            font-weight: 400;
            color: var(--num4-color);
            text-align: center;
        }
    
        & .main-info,
          .Form_Track_Cer {
            border: 2px solid var(--num1-color);
            border-radius: 5px;
            box-shadow: -2px 2px 3px var(--num5-color);
            width: 100%;
            flex-direction: column;
            padding: 2%;
            margin: 10px;
            background-color: white;

            & .cont ,
            & .Track_Cer    
            {
                width: 100%;
              
                border-radius: 5px;
                margin: 5px 0px;
                padding: 5px 0px 5px 5px;
                flex-direction: column;
                align-items:flex-start;
    
                & label {
                    display: block;
                    font-size: 1.0em;
                    justify-content:left;
                    span {
                        color: red;
                    }
                }

                & input
                {
                    width: 22em;
                    display: block;
                    justify-content:left;
                }
    
                & .divcer
                {
                    border: 1px solid var(--num1-color);
                    border-radius: 10px;
                    margin: 10px 0px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                }
            }
    
    
            & .url
            { 
                display: flex;
                flex-direction: column;
                padding: 20px;
            }

            & .cont_button
            {
                width: 100%;  
            }

            & h2 {
                margin: 10px 0px;
                font-size: 1.5em;
                font-weight: 400;
                color: var(--num4-color);
                text-shadow: -1px 1px 3px var(--num5-color);
                text-align: center;
                /* border: 1px solid red; */
            }

            & .add_track,
            & .add-cer
            {
                background-color: var(--num4-color);
                color: var(--num0-color);
                width: 150px;
                padding: 5px;
                border-radius: 22px;
                border: var(--num4-color);
                transition: 0.7s ease;
                font-weight: 400;
                text-align: center;
                cursor: pointer;
                
            }
    
            & .add_track:hover ,
            & .add-cer:hover
            {
                transform: scale(1.1);
                background-color: var(--num1-color);
                color: var(--num4-color);
                font-weight: 600;
                cursor: pointer;
                box-shadow: 5px 5px 10px var(--num5-color);
            }
    
            & .modify
            {
                border: 1px solid var(--num1-color);
                border-radius: 10px;
                margin: 15px;
                padding: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                /* border: 1px solid red; */
    
                & .cer_sec_res,
                & .cer_sec_save,
                & .cer_sec_mod
                {
                    background-color: var(--num4-color);
                    color: var(--num1-color);
                    width: 30px;
                    padding: 5px;
                    margin: 5px;
                    border: var(--num4-color);
                    border-radius: 50%;
                    transition: 0.7s ease;
                    font-weight: 400;
                    text-align: center;
                }
                & .cer_sec_res:hover,
                & .cer_sec_save:hover,
                & .cer_sec_mod:hover
                {
                    transform: scale(1.1);
                    background-color: var(--num1-color);
                    color: var(--num4-color);
                    font-weight: 600;
                    cursor: pointer;
                    box-shadow: 5px 5px 10px var(--num5-color);
                }
            }
        }
    }
    
}





