/* Start section  */

section {
    padding: 50px 200px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
        margin: 20px 0px;
        font-size: 2.8em;
        font-weight: 900;
        color: var(--num4-color);
        text-shadow: -1px 1px 3px var(--num5-color);
        text-align: center;
    }

    & form {
        padding: 20px;
        border: 2px solid var(--num1-color);
        border-radius: 20px;
        box-shadow: -10px 10px 3px var(--num5-color);
        width: 80%;
        margin: 10px auto 20px auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;


        & .cont ,
        & .Track_Cer
        {
            border: 1px solid var(--num1-color);
            border-radius: 10px;
            margin: 15px;
            padding: 10px;
            display: flex;
            flex-direction: row;

            & label {
                display: inline-block;
                width: 8em;

                span {
                    color: red;
                }
            }
        }


        & .url
        { 
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        & .cont_button
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        & h2 {
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 2.8em;
            font-weight: 900;
            color: var(--num4-color);
            text-shadow: -1px 1px 3px var(--num5-color);
            text-align: center;
        }


        & .add_track,
        & .add-cer
        {
            background-color: var(--num4-color);
            color: var(--num0-color);
            width: 150px;
            padding: 5px;
            border-radius: 22px;
            margin-left: 20px;
            border: var(--num4-color);
            transition: 0.7s ease;
            font-weight: 400;
            text-align: center;
            cursor: pointer;
        }

        & .add_track:hover ,
        & .add-cer:hover
        {
            transform: scale(1.1);
            background-color: var(--num1-color);
            color: var(--num4-color);
            font-weight: 600;
            cursor: pointer;
            box-shadow: 5px 5px 10px var(--num5-color);
        }

        & .modify
        {
            border: 1px solid var(--num1-color);
            border-radius: 10px;
            margin: 15px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            & .cer_sec_res,
            & .cer_sec_save,
            & .cer_sec_mod
            {
                background-color: var(--num4-color);
                color: var(--num1-color);
                width: 30px;
                padding: 5px;
                margin: 5px;
                border: var(--num4-color);
                border-radius: 50%;
                transition: 0.7s ease;
                font-weight: 400;
                text-align: center;
            }
            & .cer_sec_res:hover,
            & .cer_sec_save:hover,
            & .cer_sec_mod:hover
            {
                transform: scale(1.1);
                background-color: var(--num1-color);
                color: var(--num4-color);
                font-weight: 600;
                cursor: pointer;
                box-shadow: 5px 5px 10px var(--num5-color);
            }
        }
    }
}






