/* Start section  */

section {
    padding: 50px 200px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
        margin: 20px 0px;
        font-size: 2.8em;
        font-weight: 900;
        color: var(--num4-color);
        text-shadow: -1px 1px 3px var(--num5-color);
        text-align: center;
    }

    & form {
        padding: 20px;
        border: 2px solid var(--num1-color);
        border-radius: 20px;
        box-shadow: -10px 10px 3px var(--num5-color);
        width: 80%;
        margin: 10px auto 20px auto;
        border-radius: 10px;
        display: flex;
        flex-direction: column;


        & .cont {
            border: 1px solid var(--num1-color);
            border-radius: 10px;
            margin: 15px;
            padding: 10px;
            display: flex;
            flex-direction: row;

            & label {
                display: inline-block;
                width: 10em;

                span {
                    color: red;
                }
            }
            

        }

        & .url,
        & .cer , 
        & .pro ,
        & .img ,
        & .att {
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        & h2 {
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 2.8em;
            font-weight: 900;
            color: var(--num4-color);
            text-shadow: -1px 1px 3px var(--num5-color);
            text-align: center;
        }

        & .add-sec-cer ,
        & .add-sec-pro ,
        & .com-but ,
        & .res-but {
            background-color: var(--num4-color);
            color: var(--num0-color);
            width: 150px;
            padding: 5px;
            border-radius: 22px;
            margin-left: 20px;
            border: var(--num4-color);
            transition: 0.7s ease;
            font-weight: 400;
            text-align: center;
        }

        & .add-sec-cer:hover,
        & .add-sec-pro:hover,
        & .com-but:hover ,
        & .res-but:hover {
            transform: scale(1.1);
            background-color: var(--num1-color);
            color: var(--num4-color);
            font-weight: 600;
            cursor: pointer;
            box-shadow: 5px 5px 10px var(--num5-color);
        }

    }
}


 .add-cer  {
    background-color: var(--num4-color);
    color: var(--num0-color);
    width: 150px;
    padding: 5px;
    margin: 10px 10px 20px;
    border-radius: 22px;
    border: var(--num4-color);
    transition: 0.7s ease;
    font-weight: 400;
}

 .add-cer:hover {
    transform: scale(1.1);
    background-color: var(--num1-color);
    color: var(--num4-color);
    font-weight: 400;
    cursor: pointer;
    box-shadow: 5px 5px 10px var(--num5-color);
}

.ncer
{
    border: 1px solid var(--num1-color);
    padding: 10px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
}



